extends assets/extends/pagehead

block head_end
	link(rel="stylesheet" href="assets/css/main.css")

block content
	include assets/includes/navhead

block body_end
	script(type="text/javascript" src="assets/js/functions.js")
