extends assets/_extends/pagehead

block head_end
	link(rel="stylesheet" href="assets/css/main.css") 

block content
	.test
	
block body_end
	script(type="text/javascript" src="assets/js/functions.js")
