aside
  .boxes.mobile-full-width
    .box.mobile-half-width
      h1 your ad here
    .box.mobile-half-width
      h1 your ad here 
    .box.mobile-half-width
      h1 your ad here
    .box.mobile-half-width
      h1 your ad here
    .box.mobile-half-width
      h1 your ad here 
    .box.mobile-half-width
      h1 your ad here
