mixin emaillink (text)
  a(href="mailto:scroglass@gmail.com" id="email").button=text

mixin navitems
  ul.nav-list
    li
      a(href="#home").button Home
    li
      a(href="#about").button About
    li
      a(href="#smedia").button Social Media
    li
      a(href="#vendors").button Where to buy
    li
      a(href="#wholesale").ws-button.button +Wholesalers
    li
      +emaillink('+Email Us!')
