mixin navitems
  ul.nav-list
    li
      a(href="#home") Home
    li
      a(href="#social-media") Social Media
    li
      a(href="#vendors") Where to buy
    li
      a(href="#about") About
    li
      a(href="#wholesale-form") Wholesale Inquiries

header
  .nav-bar-wrap
    .nav-logo-wrap
      h2 SG
    nav.side-bar
      +navitems
