|---
|title: Wholesale Info - ScroGlass
|layout: default
|---
| 
.wholesale-page
  .wholesale-tag
    .bk-filter
      h1 Become a Distributor
  
  .wholesale-form
    form(action='http://formspree.io/scroglass@gmail.com' method='POST').full-width
      label(for='name').half-width Your Name:
        input(type='text' name='name')

      label(for='company').half-width Company:
        input(type='text' name='company')

      label(for='email').half-width Email:
        input(type='email' name='_replyto')

      label(for='phone').half-width Contact Phone:
        input(type='tel' name='tel')

      .radio-wrap.half-width
        table
          thead
            h3 I'd like to:

          tbody  
            tr
              td
                label(for='contact-type') Sell Autopilots!

              td
                input(type='radio' name='contact-type' value='wholesaler-info')

            tr
              td
                label(for='contact-type') Be listed as a dealer!

              td
                input(type='radio' name='contact-type' value='add-vendor')

            tr
              td
                label(for='contact-type') Sign me up for both!

              td
                input(type='radio' name='contact-type' value='inq-info-add' checked)

      label(for='comments').half-width Comments:
        input(type='text' name='comments' id='comments')

      label(for='submit').full-width
        input(type='submit' value='Send').button
