|---
|title: Home
|---
| 
.full-width
  .hero-home
    .bk-filter
      .media-stack
        .fb-like(data-href='https://www.facebook.com/scroglass' data-layout='button' data-action='like' data-show-faces='true' data-share='false')
        .ig-follow(data-id='8afa14b6df' data-handle='scroglass' data-count='false' data-size='medium' data-username='false')
      .hero-scro-logo.half-width

      .hero-hook.half-width
        h1 Creators of the <em>Original</em> <br><strong>Autopilot Torch Rig</strong>.

section.gallery-home.full-width
  .carosel
    .photo
      img(src="/images/gallery/0-autopilot.jpg", alt="Autopilot")
    .photo
      img(src="/images/gallery/1-autopilot.jpg", alt="Autopilot")
    .photo
      img(src="/images/gallery/2-autopilot.jpg", alt="Autopilot")
    .photo
      img(src="/images/gallery/3-autopilot.jpg", alt="Autopilot")
    .photo
      img(src="/images/gallery/4-autopilot.jpg", alt="Autopilot")

  .link-wrap.full-width
    a(href="{{site.baseurl}}/gallery").button#gallery-link More Photos
