|---
|title: About
|---
| 
section.full-width
  .about-home
    h1 About
    p Scro Glass is a small lamp working collaborative featuring local talents from Rhode Island, Massachusetts, and Connecticut; the creators of the<br><em>original</em> <strong>Autopilot Torch Rig</strong>.
    .fb-video(data-href='https://www.facebook.com/ScroGlass/videos/1695812814031523/', data-width='90%', data-autoplay='true')
      .fb-xfbml-parse-ignore
        blockquote(cite='https://www.facebook.com/ScroGlass/videos/1695812814031523/')
          a(href='https://www.facebook.com/ScroGlass/videos/1695812814031523/') Video courtesy of instagram@theglassenthusiast
          p
          | Posted by 
          a(href='https://www.facebook.com/ScroGlass/') Scro Glass
          |  on Thursday, March 17, 2016

    .link-wrap.full-width
      a(href='{{site.baseurl}}/socialmedia' class='button') More Videos
