|---
|title: About
|---
| 
section.about-home.full-width  
  p Scro Glass is a small lamp working collaborative featuring local talents from Rhode Island, Massachusetts, and Connecticut; the original creators of the <strong>Autopilot Torch Rig</strong>.

  .youtube-vid.full-width
    .youtube-container
      iframe(src='https://www.youtube.com/embed/_9Dwihs_VXo' frameborder='0' allowfullscreen)
