|---
|title: About
|---
| 
section.about-home.full-width
  p Scro Glass is a small lamp working collaborative featuring local talents from Rhode Island, Massachusetts, and Connecticut; the original creators of the <strong>Autopilot Torch Rig</strong>.

  .gallery-home
    .large-photo.full-width
      img(src='{{ site.baseurl }}/images/gallery/10896871_1525337984412341_6907829687480644071_n.jpg')
    .thumb-wrap.half-width
      .thumb-photo.quarter-width
        img(src='{{ site.baseurl }}/images/gallery/66142_1525338257745647_5610480429937982944_n.jpg')
      .thumb-photo.quarter-width
        img(src='{{ site.baseurl }}/images/gallery/10888398_1525336197745853_2969906210201752859_n.jpg')
    .thumb-wrap.half-width
      .thumb-photo.quarter-width
        img(src='{{ site.baseurl }}/images/gallery/10906463_1525336141079192_6511193943708066995_n.jpg')
      .thumb-photo.quarter-width
        img(src='{{ site.baseurl }}/images/gallery/10923505_1525336154412524_2484840740061938891_n.jpg')
  .link-wrap.full-width
    a(href="{{site.baseurl}}/gallery").button#gallery-link More Photos

  .youtube-vid.full-width
    .youtube-container
      iframe(src='https://www.youtube.com/embed/_9Dwihs_VXo' frameborder='0' allowfullscreen)
