|---
|title: Follow Us
|---
| 
section.smedia-home.full-width
  a(name= "smedia")
  h1.full-width Follow us on Social Media
  a(href='{{site.baseurl}}/socialmedia' class='button') More Videos
  .sm-logo-wrap.full-width
  .collab-wrap.full-width
    h2 Dont forget to check out these great artists too!
    ul
      {% for i in site.data.artists %}
      li: a(href='https://facebook.com/{{i.facebook}}' target='_blank' class='link-button'){{i.name}}
      {% endfor %}
