|---
|title: Find One
|---
| 
section.vendors-home.full-width
  .vendor-title
    h1 Where can I find one??
  .vendor-lists.full-width
    .vendors-ri.half-width
      h2 Rhode Island
      ul
        {% for i in site.data.vendors %}
        {% if i.loc == 'RI'%}
        li: a(href='{{i.url}}' target='_blank' class='link-button') {{i.name}}
        {% endif %}
        {% endfor %}

    .vendors-web.half-width
      h2 Online
      ul
        {% for i in site.data.vendors %}
        {% if i.loc == 'web'%}
        li: a(href='{{i.url}}' target='_blank' class='link-button') {{i.name}}
        {% endif %}
        {% endfor %}

  .vendor-footer.full-width
    p *note: Inventory not guarunteed, please call ahead.
    h3 Want to become a distributor?
    a(href="{{ site.baseurl }}/wholesale" class='button') Wholesale-Information
    
