.button,
#{$all-buttons} {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: $logo-tan;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $really-small-spacing $small-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: 0px 3px 10px rgba(164, 115, 67, 0.5);

  &:hover,
  &:focus {
    background-color: $logo-green;
    color: $logo-brown-dark;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.link-button {
  font-weight: bold;
  color: $logo-green-dark;
  padding: $really-small-spacing $small-spacing;
  border-radius: $base-border-radius;

  &:hover {
    background-color: $logo-green-dark;
    color: $logo-tan;
    box-shadow: 0px 3px 10px rgba(164, 115, 67, 0.5);
  }
}
