.hero-home
  height: 300px
  width: auto
  +bg-contain('/assets/img/autopilot-back1.jpg')

  .hero-scro-logo
    +span-columns(($content-width/2) of $content-width)
    height: 100%
    +bg-contain('/assets/img/scro-leaf.svg')
    z-index: 1

  .hero-hook
    height: 100%
    +span-columns(($content-width/2) of $content-width)
    display: flex
    align-items: flex-end

    h1
      text-align: center
      margin-bottom: 20px
