footer
  .foot-wrap
    .nav-logo-wrap
    .link-wrap
      a(href='{{site.baseurl}}/#home') Home
      a(href='{{site.baseurl}}/#vendors') Find one
      a(href='{{site.baseurl}}/wholesale') Wholesale info
      
    .media-stack
      .fb-like(data-href='https://www.facebook.com/scroglass' data-layout='button' data-action='like' data-show-faces='true' data-share='false')
      .ig-follow(data-id='8afa14b6df' data-handle='scroglass' data-count='false' data-size='medium' data-username='false')
