nav
  ul.nav-list
    {% for home in site.home_sections %} 
    li: a(href="{{site.baseurl}}/#{{ home.title }}" class="link-button") {{ home.title }}
    {% endfor %} 
    li: a(href="{{site.baseurl}}/gallery" class="link-button") Photos
    li: a(href="{{site.baseurl}}/socialmedia" class="link-button") Videos
    li: a(href="{{site.baseurl}}/wholesale" class="link-button") Wholesalers
