nav
  ul.nav-list
    {% for home in site.home_sections %} 
    li: a(href="{{site.baseurl}}/#{{ home.title }}" class="button") {{ home.title }}
    {% endfor %} 
    li: a(href="{{site.baseurl}}/gallery" class="button") Photos
    li: a(href="{{site.baseurl}}/socialmedia" class="button") Videos
    li: a(href="{{site.baseurl}}/wholesale" class="button") Wholesalers
