.home-wrap
  header
    background-color: $boring-background-color

+media($large-viewport)
  .nav-logo-wrap
    height: 200px
    +bg-contain('/images/scro-logo.svg')

  .mobile-nav-toggle
    display: none

  nav
    ul
      margin-top: 40%

    a
      display: block
      text-align: right

+media($tablet)
  .nav-logo-wrap
    height: 110px
    +bg-contain('/images/scro-logo.svg')

  .mobile-nav-toggle
    display: none

  nav
    ul
      margin-top: 35%
    a
      display: block
      text-align: left

+media($mobile)
  .nav
    height: $mobile-nav-height
  .nav-logo-wrap
    +span-columns(($mobile-col/4) of $mobile-col)
    height: 100%
    +bg-contain('/images/scro-logo.svg')

  nav
    +span-columns(($mobile-col/2) of $mobile-col)
    height: 100%
    .nav-list
      li
        display: none

  .mobile-nav-toggle
    +span-columns(($mobile-col/4) of $mobile-col)
    +omega
    height: 100%
    +bg-contain('/images/hamburger.svg')
