.home-wrap
  header
    background-color: $boring-background-color

+media($large-viewport)
  .nav-logo-wrap
    height: 25%
    +bg-contain('/images/scro-logo.svg')

  .mobile-nav-toggle
    display: none

  nav
    a
      display: block
      text-align: center

+media($tablet)
  .nav-logo-wrap
    height: 15%
    +bg-contain('/images/scro-logo.svg')

  .mobile-nav-toggle
    display: none

  nav
    a
      display: block
      text-align: center

+media($mobile)
  .nav
    height: $mobile-nav-height
  .nav-logo-wrap
    +span-columns(($mobile-col/4) of $mobile-col)
    height: 100%
    +bg-contain('/images/scro-logo.svg')

  nav
    +span-columns(($mobile-col/2) of $mobile-col)
    height: 100%
    .nav-list
      li
        display: none

  .mobile-nav-toggle
    +span-columns(($mobile-col/4) of $mobile-col)
    +omega
    height: 100%
    +bg-contain('/images/hamburger.svg')

  .nav-is-open
    li
      display: relative
    a
      text-align: center
