.wholesale-page
  .button
    float: right

  .bk-filter
    padding: $base-spacing*1.5 0

  #comments
    height: 105px

  .wholesale-tag
    +bg-cover('/images/gallery/IMG_2444.JPG')
    text-align: center

  form
    padding: $small-spacing $base-spacing


+media($large-viewport)
  .wholesale-page
    .half-width:nth-child(2n)
      +omega

+media($tablet)
  .wholesale-page
    .half-width:nth-child(2n)
      +omega

    td
      font-size: 0.85em
      padding-bottom: $small-spacing

+media($mobile)
  .wholesale-page
    form
      padding: $base-spacing * 1.25
