$nav-offset: 2
$content-width: (12 - ($nav-offset * 2))
.home-wrap
  background-color: $boring-background-color
  +outer-container(100%)

  header
    position: fixed
    top: 0
    bottom: 0
    left: 0
    +span-columns($nav-offset)

  .content-wrap
    +shift($nav-offset)
    +span-columns($content-width)
    height: 1000px

  aside
    +span-columns($nav-offset)
    +omega
