.home-wrap
  display: flex
  height: 2000px

  header
    width: 175px
    height: 100%

  .content-wrap
    flex: 1


@media(max-width: 600px)
  .home-wrap
    flex-direction: column

    header
      width: auto
      height: 50px
