.nav-logo-wrap
  height: 200px
  +bg-contain('/assets/img/scro-logo.svg')

.mobile-nav-toggle
  display: none

nav
  .nav-list
    margin-top: 30px
    a
      display: block
      text-align: right
      margin: 5px
      padding: 10px

    .ws-button
      font-weight: bold
