.nav-bar-wrap
  position: fixed
  top: 0
  left: 0
  width: 175px
  height: 100vh
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  padding-top: 10px

  .nav-logo-wrap
    height: 150px
    width: 150px
    margin: 0 auto
    background:
      color: red

  nav
    flex: 1
    background:
      //color: blacks

    .nav-list
      margin-top: 30px

      a
        display: block
        text-align: right
        margin: 5px
        padding: 10px
        //border: 2px solid black

      .ws-button
        font-weight: bold
