.hero-scro-logo
  +bg-contain('/images/scro-leaf.svg')

.hero-home
  +bg-contain('/images/autopilot-back1.jpg')
  height: 10*$base-spacing
  margin-bottom: $small-spacing

  .bk-filter
    position: relative

  .hero-hook
    position: relative

  .media-stack
    position: absolute
    top: 0
    right: 0
    left: 0

  .fb-like
    top: -2.5px

.gallery-home
  height: 100%

  .link-wrap
    text-align: center
    margin-top: $small-spacing

  .photo
    padding: $small-spacing $base-spacing

@mixin hero-large-layout
  .hero-home
    .media-stack
      text-align: right
      padding: $small-spacing
      .fb-like
        margin: 0 $base-spacing

    .hero-hook
      height: 100%

    h1
      text-align: left
      position: absolute
      right: 0
      bottom: 0
      left: 0
      padding: 0 $small-spacing $small-spacing 0

  .hero-scro-logo
    height: 100%

+media($large-viewport)
  +hero-large-layout

+media($tablet)
  +hero-large-layout

+media($mobile)
  .hero-home
    h1
      text-align: center
      padding: 0 $small-spacing

    .hero-scro-logo
      height: 75%
      width: 100%

    .media-stack
      display: flex
      justify-content: space-between
      text-align: right
      padding: $base-spacing
