.hero-scro-logo
  +bg-contain('/images/scro-leaf.svg')

.hero-home
  +bg-contain('/images/autopilot-back1.jpg')
  .link-wrap
    display: flex
    align-items: center
    padding-top: 5%

  .gallery-home
    padding: 0 5%

  .button
    margin: auto

  .large-photo
    padding: 1% 5% 2% 5%

@mixin hero-large-layout
  .hero-home
    height: 60vh

    .hero-hook
      height: 100%
      display: flex
      align-items: flex-end

    h1
      text-align: left
      margin-bottom: 20px

  .hero-scro-logo
    height: 100%

+media($large-viewport)
  +hero-large-layout

+media($tablet)
  +hero-large-layout

+media($mobile)
  .hero-home
    height: 50vh

  .hero-hook
    width: 100%

    h1
      text-align: center
      padding: 0 10px

  .hero-scro-logo
    background-position: center
    height: 75%
    width: 100%
