section.about
  p Scro Glass is a small lamp working collaborative featuring local talents from Rhode Island, Massachusetts, and Connecticut; the original creators of the <strong>Autopilot Torch Rig</strong>.
