section.about
  .col1
    p Scro Glass is a small Rhode Island based lamp working collaborative featuring local talents from Rhode Island, Massachusetts, and Connecticut; the original creators of the Autopilot Torch Rig.
