header

  .navwrap

    .nav-logo

    nav
      ul.navlist
        li
          a(href="#home") Home
        li
          a(href="#social-media") Social Media
        li
          a(href="#vendors") Where to buy
        li
          a(href="#about") About
        li
          a(href="#wholesale-form") Wholesale Inquiries
