section.vendors-home.full-width
  a(name= "vendors")
  .vendor-title
    h1 Where can i find one??
  .vendor-lists
    .half-width.mobile-half-width
      h2 Rhode Island
      ul.us-ri
        li
          a(href='https://www.headshopfinder.com/head-shop.php?id=4892' target='_blank').button Rigs
        li
          a(href='https://www.headshopfinder.com/head-shop.php?id=2482' target='_blank').button Aparatus

    .half-width.mobile-half-width
      h2 Online
      ul
        li
          a(href='https://www.aqualabtechnologies.com' target='_blank').button AquaLab Technologies

  .vendor-footer.full-width
    p *note: Inventory not guarunteed, please call ahead.
    h3 Do you sell Autopilots? Want to be listed?
    +emaillink('ScroGlass@gmail.com')
    
