section.vendors
  .col1
    h1 Where can i find one scro??
  .col2
    ul.us-ri
      li
        a(href='https://www.headshopfinder.com/head-shop.php?id=4892' target='_blank') Rigs
      li
        a(href='https://www.headshopfinder.com/head-shop.php?id=2482' target='_blank') Aparatus
  .col2
  
  .col1
    p *note: Inventory not guarunteed, please call ahead.
    h3 Do you sell Autopilots? Want to be listed? 
    a(mailto= "jwarner3412@gmail.com" id="email") +email us
