|---
|title: Our Homies
|---
| 
section.smedia-home.full-width
  a(name= "smedia")
  .collab-wrap
    h2 Dont forget to check out these great artists too!
    ul
      {% for i in site.data.artists %}
      li: a(href='https://facebook.com/{{i.facebook}}' target='_blank' class='link-button'){{i.name}}
      {% endfor %}
